In [17]:
import io
import re
import glob
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_districts_in_India")
s = BeautifulSoup(r.content, 'html.parser')

In [4]:
tables = s.find_all('table')
len(tables)

54

In [5]:
a = -1
tableData = []
for i in tables:
    a+=1
    print(a)
    htmlData = str(i)
    txtData = re.sub(r"\[.*?\]", "", htmlData)
    df = pd.read_html(io.StringIO(txtData))[0]
    print(df.head())
    tableData.append(df)

0
  Districts of India                               Districts of India.1
0                NaN                                                NaN
1           Category         second/third-level administrative division
2           Location              States and union territories of India
3             Number                       797 (as of 20 November 2023)
4        Populations  Greatest: Thane, Maharashtra—11,060,148 (2011 ...
1
  Administrative divisions No. of districts Total population  \
                    States           States           States
0           Andhra Pradesh               26         49577103
1        Arunachal Pradesh               26          1383727
2                    Assam               35         31205576
3                    Bihar               38        104099452
4             Chhattisgarh               33         25545198

  Population per district Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   States             States             States
0                 1906812                NaN                NaN
1                   53220                NaN                NaN
2                  891588                NaN                NaN
3                 2739459                NaN                NaN
4                  774097                NaN                NaN

  Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0
              States             States             States
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN
2
    0                                                  1
0 NaN  This section does not cite any sources. Please...
3
   # Code               District   Headquarters  Population (2021)  \
0  1   AS  Alluri Sitharama Raju         Paderu             954000
1  2   AK             Anakapalli     Anakapalli            1727000
2  3   AN          Ananthapuramu  Ananthapuramu            2241100
3  4   AM              Annamayya      Rayachoti            1697300
4  5   BP                Bapatla        Bapatla            1587000

   Area (km2)  Density (/km2)
0       12251          77.870
1        4292         402.380
2       10205         219.608
3        7954         213.389
4        3829         414.470
4
   # Code                  District Headquarters Population (2011) Area (km2)  \
0  1   AJ                     Anjaw        Hawai             21089       6190
1  2   CH                 Changlang    Changlang            147951       4662
2  3   EK               East Kameng        Seppa             78413       4134
3  4   ES                East Siang     Pasighat             99019       3603
4  5  NaN  Itanagar Capital Complex     Itanagar            122930        200

  Density (/km2)
0              3
1             32
2             19
3             27
4         614.65
5
   # Code    District        Headquarters  Population (2011)  Area (km2)  \
0  1   BK       Baksa           Mushalpur             953773        2008
1  2   BJ      Bajali            Pathsala             253816         418
2  3   BP     Barpeta             Barpeta            1693622        3245
3  4   BN   Biswanath  Biswanath Chariali             612491        1415
4  5   BO  Bongaigaon          Bongaigaon             732639        1724

   Density (/km2)
0             475
1             610
2             520
3             430
4             425
6
   # Code    District Headquarters  Population (2011)  Area (km2)  \
0  1   AR      Araria       Araria            2806200        2829
1  2   AW       Arwal        Arwal             700843         638
2  3   AU  Aurangabad   Aurangabad            2511243        3303
3  4   BA       Banka        Banka            2029339        3018
4  5   BE   Begusarai    Begusarai            2954367        1917

   Density (/km2)
0             992
1            1098
2             760
3             672
4            1540
7
   # Code               District  Headquarters  Population (2011) Area (km2)  \
0  1    –                  Balod         Balod             826165       3527
1  2    –           Baloda Bazar  Baloda Bazar            1305343       4748
2  3    –  Balrampur-Ramanujganj     Balrampur             730491       3806
3  4   BA                 Bastar     Jagdalpur             834873       4030
4  5    –               Bemetara      Bemetara             795759       2855

   Density (/km2)
0           234.0
1           275.0
2           190.0
3           210.0
4           270.0
8
   # Code   District Headquarters  Population (2011)  Area (km2)  \
0  1   NG  North Goa       Panaji             817761        1736
1  2   SG  South Goa       Margao             639962        1966

   Density (/km2)
0             471
1             326
9
   # Code     District Headquarters  Population (2011)  Area (km2)  \
0  1   AH    Ahmedabad    Ahmedabad            7208200        7170
1  2   AM       Amreli       Amreli            1513614        6760
2  3   AN        Anand        Anand            2090276        2942
3  4   AR     Aravalli       Modasa            1051746        3217
4  5   BK  Banaskantha     Palanpur            3116045       12703

   Density (/km2)
0             890
1             205
2             711
3             327
4             290
10
   # Code       District   Headquarters  Population (2011)  Area (km2)  \
0  1   AM         Ambala         Ambala            1136784        1569
1  2   BH        Bhiwani        Bhiwani            1629109        5140
2  3   CD  Charkhi Dadri  Charkhi Dadri             502276        1370
3  4   HR      Faridabad      Faridabad            1798954         783
4  5   FT      Fatehabad      Fatehabad             941522        2538

   Density (/km2)
0             722
1             341
2             367
3            2298
4             371
11
   # Code  District Headquarters  Population (2011)  Area (km2)  \
0  1   BI  Bilaspur     Bilaspur             382056        1167
1  2   CH    Chamba       Chamba             518844        6528
2  3   HA  Hamirpur     Hamirpur             454293        1118
3  4   KA    Kangra  Dharamshala            1507223        5739
4  5   KI   Kinnaur  Reckong Peo              84298        6401

   Density (/km2)
0           327.0
1            80.0
2           406.0
3           263.0
4            13.0
12
   # Code District Headquarters  Population (2011)  Area (km2)  Density (/km2)
0  1   BO   Bokaro       Bokaro            2061918        2883             716
1  2   CH   Chatra       Chatra            1042304        3700             275
2  3   DE  Deoghar      Deoghar            1491879        2479             602
3  4   DH  Dhanbad      Dhanbad            2682662        2040            1316
4  5   DU    Dumka        Dumka            1321096        4404             300
13
   # Code         District Headquarters  Population (2011)  Area (km2)  \
0  1   BK         Bagalkot    Bagalkote            1890826        6583
1  2   BL          Ballari      Ballari            1400970        4252
2  3   BG         Belagavi      Belgaum            4778439       13415
3  4   BR  Bangalore Rural    Bangalore             987257        2239
4  5   BN  Bangalore Urban    Bangalore            9588910        2190

   Density (/km2)
0             288
1             330
2             356
3             441
4            4378
14
   # Code   District Headquarters  Population (2011)  Area (km2)  \
0  1   AL  Alappuzha    Alappuzha            2121943        1415
1  2   ER  Ernakulam     Kakkanad            3279860        3063
2  3   ID     Idukki      Painavu            1107453        4356
3  4   KN     Kannur       Kannur            2525637        2961
4  5   KS  Kasaragod    Kasaragod            1302600        1989

   Density (/km2)
0            1501
1            1069
2             254
3             852
4             654
15
   # Code    District Headquarters Population (2011) Area (km2) Density (/km2)
0  1   AG  Agar Malwa         Agar            571275       2785            205
1  2   AL   Alirajpur    Alirajpur            728677       3182            229
2  3   AP     Anuppur      Anuppur            749521       3747            200
3  4   AS  Ashoknagar   Ashoknagar            844979       4674            181
4  5   BL    Balaghat     Balaghat           1701156       9229            184
16
   # Code    District Headquarters  Population (2011)  Area (km2)  \
0  1   AH  Ahmednagar   Ahmednagar            4543083       17048
1  2   AK       Akola        Akola            1818617        5429
2  3   AM    Amravati     Amravati            2887826       12235
3  4   AU  Aurangabad   Aurangabad            3695928       10107
4  5   BI        Beed         Beed            2585962       10693

   Density (/km2)
0             266
1             321
2             237
3             365
4             242
17
   #  Code       District   Headquarters Population (2011) Area (km2)  \
0  1   BPR      Bishnupur      Bishnupur            240363        496
1  2   CDL        Chandel        Chandel            144028       3317
2  3  CCpr  Churachandpur  Churachandpur            271274       4574
3  4    IE    Imphal East       Porompat            452661        710
4  5    IW    Imphal West     Lamphelpat            514683        519

  Density (/km2)
0            415
1             37
2             50
3            555
4            847
18
   # Code                  District  Headquarters  Population (2011)  \
0  1   EG           East Garo Hills  Williamnagar             317618
1  2   EK          East Khasi Hills      Shillong             824059
2  3    –        East Jaintia Hills    Khliehriat             122436
3  4    –  Eastern West Khasi Hills       Mairang             131451
4  5    –          North Garo Hills   Resubelpara             118325

   Area (km2)  Density (/km2)
0        2603             121
1        2752             292
2        2115              58
3        1356              97
4        1113             106
19
   # Code   District Headquarters Population (2011) Area (km2) Density (/km2)
0  1   AI     Aizawl       Aizawl            404054       3577            113
1  2   CH   Champhai     Champhai            125370       3168             39
2  3    -  Hnahthial    Hnahthial             28468          –              –
3  4    -   Khawzawl     Khawzawl                 –          –              –
4  5   KO    Kolasib      Kolasib             83054       1386             60
20
   # Code      District  Headquarters  Population (2011)  Area (km2)  \
0  1    –  Chümoukedima  Chümoukedima             125400       570.0
1  2   DI       Dimapur       Dimapur             379769       926.0
2  3   KI       Kiphire       Kiphire              74033      1255.0
3  4   KO        Kohima        Kohima             270063      1041.0
4  5   LO      Longleng      Longleng              50593       885.0

   Density (/km2)
0             220
1             410
2              66
3             213
4              89
21
   # Code  District Headquarters  Population (2011)  Area (km2)  \
0  1   AN     Angul        Angul            1271703      6232.0
1  2   BD     Boudh        Boudh             439917      3098.0
2  3   BH   Bhadrak      Bhadrak            1506522      2505.0
3  4   BL  Balangir     Balangir            1648574      6575.0
4  5   BR   Bargarh      Bargarh            1478833      5837.0

   Density (/km2)
0             199
1             142
2             601
3             251
4             253
22
   # Code  District Headquarters  Population (2011)  Area (km2)  \
0  1   AM  Amritsar     Amritsar            2490891        2673
1  2  BNL   Barnala      Barnala             596294        1423
2  3   BA  Bathinda     Bathinda            1388859        3355
3  4   FI  Firozpur     Firozpur            2026831        5334
4  5   FR  Faridkot     Faridkot             618008        1472

   Density (/km2)
0             932
1             419
2             414
3             380
4             424
23
   # Code  District Headquarters  Population (2011)  Area (km2)  \
0  1   AN  Anupgarh     Anupgarh           869696.0     8871.99
1  2   AJ     Ajmer        Ajmer          2584913.0     8481.00
2  3   AL     Alwar        Alwar          3671999.0     8380.00
3  4   BA   Balotra      Balotra           970760.0    19000.00
4  5   BE    Beawar       Beawar                NaN         NaN

   Density (/km2)
0            98.0
1           305.0
2           438.0
3            51.0
4             NaN
24
   # Code District Headquarters  Population (2011)  Area (km2)  Density (/km2)
0  1   ES  Gangtok      Gangtok             281293         954             295
1  2   NS   Mangan       Mangan              43354        4226              10
2  3   PS  Pakyong      Pakyong              74583         404             180
3  4  NaN   Soreng       Soreng              64760         293             221
4  5   SS   Namchi       Namchi             146742         750             196
25
   # Code      District  Headquarters  Population (2011)  Area (km2)  \
0  1   AY      Ariyalur      Ariyalur             752481        3208
1  2  CGL  Chengalpattu  Chengalpattu            2556244        2945
2  3   CH       Chennai       Chennai            7139882         426
3  4   CO    Coimbatore    Coimbatore            3472578        4723
4  5   CU     Cuddalore     Cuddalore            2600880        3999

   Density (/km2)
0             387
1             868
2           17000
3             748
4             702
26
   # Code              District Headquarters  Population (2011)  Area (km2)  \
0  1   AD              Adilabad     Adilabad             708952     4185.97
1  2    –  Bhadradri Kothagudem   Kothagudem            1304811     8951.00
2  3    –            Hanamkonda   Hanamkonda            1135707     1304.50
3  4   HY             Hyderabad    Hyderabad            3943323      217.00
4  5    –               Jagtial      Jagtial             983414     3043.23

   Density (/km2)
0             171
1             143
2             826
3           18172
4             407
27
   # Code       District Headquarters  Population (2011)  Area (km2)  \
0  1   DH         Dhalai      Ambassa             377988     2400.00
1  2   GM         Gomati      Udaipur             436868     1522.80
2  3   KH         Khowai       Khowai             327391     1005.67
3  4   NT  North Tripura  Dharmanagar             415946     1444.50
4  5   SP     Sepahijala  Bishramganj             484233     1044.78

   Density (/km2)
0             157
1             287
2             326
3             288
4             463
28
   # Code        District Headquarters  Population (2011)  Area (km2)  \
0  1   AG            Agra         Agra            4380793        4027
1  2   AL         Aligarh      Aligarh            3673849        3747
2  3   AN  Ambedkar Nagar     Akbarpur            2398709        2372
3  4   AM          Amethi    Gauriganj            2549935        3063
4  5   JP          Amroha       Amroha            1838771        2321

   Density (/km2)
0            1084
1            1007
2            1021
3             830
4             818
29
   # Code   District Headquarters  Population (2011)  Area (km2)  \
0  1   AL     Almora       Almora             621927        3090
1  2   BA  Bageshwar    Bageshwar             259840        2310
2  3   CL    Chamoli    Gopeshwar             391114        7692
3  4   CP  Champawat    Champawat             259315        1781
4  5   DD   Dehradun     Dehradun            1698560        3088

   Density (/km2)
0             198
1             116
2              49
3             147
4             550
30
   # Code          District Headquarters  Population (2011)  Area (km2)  \
0  1   AD        Alipurduar   Alipurduar            1501983      3136.0
1  2   BN           Bankura      Bankura            3596292      6882.0
2  3   BI           Birbhum         Suri            3502387      4545.0
3  4   KB       Cooch Behar  Cooch Behar            2822780      3387.0
4  5   DD  Dakshin Dinajpur    Balurghat            1670931      2183.0

   Density (/km2)
0             479
1             523
2             771
3             833
4             753
31
   # Code                  District Headquarters  Population (2011)  \
0  1   NI                   Nicobar  Car Nicobar              36842
1  2  NaN  North and Middle Andaman   Mayabunder             105597
2  3   SA             South Andaman   Port Blair             238142

   Area (km2)  Density (/km2)
0        1841              20
1        3736              28
2        2672              89
32
   # Code    District Headquarters  Population (2011)  Area (km2)  \
0  1   CH  Chandigarh   Chandigarh            1055450         114

   Density (/km2)
0            9258
33
   # Code                District Headquarters  Population (2011)  Area (km2)  \
0  1   DA                   Daman        Daman             191173          72
1  2   DI                     Diu          Diu              52074          39
2  3   DN  Dadra and Nagar Haveli     Silvassa             343709         491

   Density (/km2)
0            2651
1            2058
2             700
34
   # Code   District Headquarters  Population (2011)  Area (km2)  \
0  1   AN   Anantnag     Anantnag            1070144        2853
1  2   BD     Budgam       Budgam             735753        1406
2  3  BPR  Bandipore    Bandipore             385099        3010
3  4   BR  Baramulla    Baramulla            1015503        3329
4  5   DO       Doda         Doda             409576        2625

   Density (/km2)
0             375
1             537
2             128
3             305
4              79
35
   # Code District Headquarters  Population (2011)  Area (km2)  Density (/km2)
0  1   KR   Kargil       Kargil             143388       14036              10
1  2   LE      Leh          Leh             133487       45110               3
36
   # Code     District Headquarters  Population (2011)  Area (km2)  \
0  1   LD  Lakshadweep    Kavaratti              64473          30

   Density (/km2)
0            2149
37
   # Code          District     Headquarters Population (2011)  Area (km2)  \
0  1   CD     Central Delhi        Daryaganj            582320        25.0
1  2   ED        East Delhi      Preet Vihar           1709346       440.0
2  3   ND         New Delhi  Connaught Place            142004        22.0
3  4   NO       North Delhi     Sadar Bazaar            887978        59.0
4  5   NE  North East Delhi        Seelampur           2241624        52.0

  Density (/km2)
0          27730
1          27132
2           4057
3          14557
4          36155
38
   # Code    District Headquarters  Population (2011)  Area (km2)  \
0  1   KA    Karaikal     Karaikal             200222         157
1  2   MA        Mahé         Mahé              41816           9
2  3   PO  Puducherry  Pondicherry             950289         293
3  4   YA       Yanam        Yanam              55626          30

   Density (/km2)
0            1275
1            4646
2            3232
3            1854
39
  vteGeography of India                            vteGeography of India.1
0               Geology         Fossil Parks Geology of India Indian Plate
1              Heritage  National Geological Monuments of India Sacred ...
2             Landforms  Beaches Borders Coasts Canals Desert ECZ Extre...
3               Regions  North India Northwest Northeast India East Ind...
4          Subdivisions  States and territories Autonomous areas Divisi...
40
                                     vteIndia topics  \
0  HistoryOverviews Timeline Years Astronomy Clot...
1                                            History
2  Overviews Timeline Years Astronomy Clothing Co...
3                                          Overviews
4                                            Ancient

                                   vteIndia topics.1

In [6]:
tableData[0]

  Districts of India                               Districts of India.1
0                NaN                                                NaN
1           Category         second/third-level administrative division
2           Location              States and union territories of India
3             Number                       797 (as of 20 November 2023)
4        Populations  Greatest: Thane, Maharashtra—11,060,148 (2011 ...
5              Areas  Largest: Kutch, Gujarat—45,652 km2 (17,626 sq ...
6          Densities  Largest: Central Delhi, Delhi Smallest: Lower ...
7         Government                            District Administration
8       Subdivisions  Revenue division (Sub-division) and,Tehsil (Ta...

In [7]:
statesDf = tableData[1]
statesDf = statesDf.drop(28).drop(37)
statesDf

,Administrative divisions,No. of districts,Total population,Population per district,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,States,States,States,States,States,States,States,States,States
0,Andhra Pradesh,26,49577103,1906812,NaN,NaN,NaN,NaN,NaN
1,Arunachal Pradesh,26,1383727,53220,NaN,NaN,NaN,NaN,NaN
2,Assam,35,31205576,891588,NaN,NaN,NaN,NaN,NaN
3,Bihar,38,104099452,2739459,NaN,NaN,NaN,NaN,NaN
4,Chhattisgarh,33,25545198,774097,NaN,NaN,NaN,NaN,NaN
5,Goa,2,1458545,729273,NaN,NaN,NaN,NaN,NaN
6,Gujarat,33,60439692,1831506,NaN,NaN,NaN,NaN,NaN
7,Haryana,22,25351462,1152339,NaN,NaN,NaN,NaN,NaN
8,Himachal Pradesh,12,6864602,528046,NaN,NaN,NaN,NaN,NaN
9,Jharkhand,24,32988134,1374506,NaN,NaN,NaN,NaN,NaN
10,Karnataka,31,61095297,1970816,NaN,NaN,NaN,NaN,NaN
11,Kerala,14,33406061,2386147,NaN,NaN,NaN,NaN,NaN
12,Madhya Pradesh,55,72626809,1274155,NaN,NaN,NaN,NaN,NaN
13,Maharashtra,36,112374333,3121509,NaN,NaN,NaN,NaN,NaN
14,Manipur,16,2570390,160649,NaN,NaN,NaN,NaN,NaN
15,Meghalaya,12,2966889,247241,NaN,NaN,NaN,NaN,NaN
16,Mizoram,11,1097206,99746,NaN,NaN,NaN,NaN,NaN
17,Nagaland,16,1978502,123656,NaN,NaN,NaN,NaN,NaN
18,Odisha,30,41974218,1399141,NaN,NaN,NaN,NaN,NaN
19,Punjab,23,27743338,1206232,NaN,NaN,NaN,NaN,NaN
20,Rajasthan,50,68548437,1246335,NaN,NaN,NaN,NaN,NaN
21,Sikkim,6,610577,101763,NaN,NaN,NaN,NaN,NaN
22,Tamil Nadu,38,72147030,1898606,NaN,NaN,NaN,NaN,NaN
23,Telangana,33,35003674,1060717,NaN,NaN,NaN,NaN,NaN
24,Tripura,8,3673917,459240,NaN,NaN,NaN,NaN,NaN
25,Uttar Pradesh,75,199812341,2664165,NaN,NaN,NaN,NaN,NaN
26,Uttarakhand,13,10086292,593311,NaN,NaN,NaN,NaN,NaN
27,West Bengal,23,91276115,3042537,NaN,NaN,NaN,NaN,NaN
29,Andaman and Nicobar Islands,3,380581,126860,NaN,NaN,NaN,NaN,NaN
30,Chandigarh,1,1055450,1055450,NaN,NaN,NaN,NaN,NaN
31,"Dadra Nagar Haveli, Daman and Diu",3,586956,195652,NaN,NaN,NaN,NaN,NaN
32,Jammu and Kashmir,20,12258093,612905,NaN,NaN,NaN,NaN,NaN
33,Ladakh,2,290492,72623,NaN,NaN,NaN,NaN,NaN
34,Lakshadweep,1,64473,64473,NaN,NaN,NaN,NaN,NaN
35,Delhi,11,16787941,1526176,NaN,NaN,NaN,NaN,NaN
36,Puducherry,4,1247953,311988,NaN,NaN,NaN,NaN,NaN

In [8]:
states = sum(statesDf['Administrative divisions'].values.tolist(),[])
states

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'Andaman and Nicobar Islands',
 'Chandigarh',
 'Dadra Nagar Haveli, Daman and Diu',
 'Jammu and Kashmir',
 'Ladakh',
 'Lakshadweep',
 'Delhi',
 'Puducherry']

In [9]:
[x for x in tableData[3].columns if 'Population' in x]

['Population (2021)']

In [13]:
stateNo = 3
for i in states:
    df = tableData[stateNo]
    colList = [x for x in df.columns if 'Population' in x]
    df = df.rename(columns={colList[0]: 'Population'})
    df['State/UnionTerritory']=i
    df['City Tier'] = np.nan
    df['Population'] = df['Population'].replace('–', 0).replace('-', 0)
    df['Population'] = pd.to_numeric(df['Population'])
    tier1Mask = df['Population'] >= 100000
    tier2Mask = (df['Population'] <= 99999) & (df['Population'] >= 50000)
    tier3Mask = df['Population'] <= 49999
    df['City Tier'][tier1Mask] = 'Tier I'
    df['City Tier'][tier2Mask] = 'Tier II'
    df['City Tier'][tier3Mask] = 'Tier III'
    df.to_csv('States/'+i+'.csv', index = False)
    stateNo+=1

/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City Tier'][tier1Mask] = 'Tier I'
/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3476055103.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Tier I' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.

In [47]:
x = glob.glob("States//*.csv")
x

['States/Nagaland.csv',
 'States/Punjab.csv',
 'States/Uttarakhand.csv',
 'States/Dadra Nagar Haveli, Daman and Diu.csv',
 'States/Delhi.csv',
 'States/Andhra Pradesh.csv',
 'States/Manipur.csv',
 'States/Jharkhand.csv',
 'States/Tamil Nadu.csv',
 'States/Jammu and Kashmir.csv',
 'States/Assam.csv',
 'States/Rajasthan.csv',
 'States/Tripura.csv',
 'States/Karnataka.csv',
 'States/Mizoram.csv',
 'States/Puducherry.csv',
 'States/Uttar Pradesh.csv',
 'States/Sikkim.csv',
 'States/Chhattisgarh.csv',
 'States/Madhya Pradesh.csv',
 'States/Arunachal Pradesh.csv',
 'States/Odisha.csv',
 'States/Chandigarh.csv',
 'States/Goa.csv',
 'States/Meghalaya.csv',
 'States/Gujarat.csv',
 'States/Lakshadweep.csv',
 'States/Kerala.csv',
 'States/Telangana.csv',
 'States/Andaman and Nicobar Islands.csv',
 'States/Haryana.csv',
 'States/Ladakh.csv',
 'States/Maharashtra.csv',
 'States/Himachal Pradesh.csv',
 'States/West Bengal.csv',
 'States/Bihar.csv']

In [81]:
completeDf = pd.DataFrame(columns = ['#', 'Code', 'District', 'Headquarters', 'Population', 'Area (km2)', 'Density (/km2)', 'State/UnionTerritory', 'City Tier'])
completeDf

Empty DataFrame
Columns: [#, Code, District, Headquarters, Population, Area (km2), Density (/km2), State/UnionTerritory, City Tier]
Index: []

In [82]:
for i in x:
    df = pd.read_csv(i)
    completeDf = pd.concat([completeDf, df], ignore_index=True)

/var/folders/hz/1tq14hps0cvgb6gmb21yyrnw0000gn/T/ipykernel_56156/3195966201.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  completeDf = pd.concat([completeDf, df], ignore_index=True)

In [83]:
completeDf = completeDf.drop(columns = '#')
completeDf

,Code,District,Headquarters,Population,Area (km2),Density (/km2),State/UnionTerritory,City Tier
0,–,Chümoukedima,Chümoukedima,125400,570.0,220,Nagaland,Tier I
1,DI,Dimapur,Dimapur,379769,926.0,410,Nagaland,Tier I
2,KI,Kiphire,Kiphire,74033,1255.0,66,Nagaland,Tier II
3,KO,Kohima,Kohima,270063,1041.0,213,Nagaland,Tier I
4,LO,Longleng,Longleng,50593,885.0,89,Nagaland,Tier II
...,...,...,...,...,...,...,...,...
783,ST,Sitamarhi,Sitamarhi,3419622,2199,1491,Bihar,Tier I
784,SW,Siwan,Siwan,3318176,2219,1495,Bihar,Tier I
785,SU,Supaul,Supaul,2228397,2410,919,Bihar,Tier I
786,VA,Vaishali,Hajipur,3495021,2036,1717,Bihar,Tier I
787,WC,West Champaran,Bettiah,3935042,5229,753,Bihar,Tier I

In [84]:
cities = completeDf['District'].values.tolist()
cities

['Chümoukedima',
 'Dimapur',
 'Kiphire',
 'Kohima',
 'Longleng',
 'Mokokchung',
 'Mon',
 'Niuland',
 'Noklak',
 'Peren',
 'Phek',
 'Shamator',
 'Tseminyü',
 'Tuensang',
 'Wokha',
 'Zunheboto',
 'Amritsar',
 'Barnala',
 'Bathinda',
 'Firozpur',
 'Faridkot',
 'Fatehgarh Sahib',
 'Fazilka',
 'Gurdaspur',
 'Hoshiarpur',
 'Jalandhar',
 'Kapurthala',
 'Ludhiana',
 'Malerkotla',
 'Mansa',
 'Moga',
 'Sri Muktsar Sahib',
 'Pathankot',
 'Patiala',
 'Rupnagar',
 'Sahibzada Ajit Singh Nagar',
 'Sangrur',
 'Shahid Bhagat Singh Nagar',
 'Tarn Taran',
 'Almora',
 'Bageshwar',
 'Chamoli',
 'Champawat',
 'Dehradun',
 'Haridwar',
 'Nainital',
 'Pauri Garhwal',
 'Pithoragarh',
 'Rudraprayag',
 'Tehri Garhwal',
 'Udham Singh Nagar',
 'Uttarkashi',
 'Daman',
 'Diu',
 'Dadra and Nagar Haveli',
 'Central Delhi',
 'East Delhi',
 'New Delhi',
 'North Delhi',
 'North East Delhi',
 'North West Delhi',
 'Shahdara district',
 'South Delhi',
 'South East Delhi',
 'South West Delhi',
 'West Delhi',
 'Alluri Sitharama Raju',
 'Anakapalli',
 'Ananthapuramu',
 'Annamayya',
 'Bapatla',
 'Chittoor',
 'Dr. B.R. Ambedkar Konaseema',
 'East Godavari',
 'Eluru',
 'Guntur',
 'Kakinada',
 'Krishna',
 'Kurnool',
 'Nandyal',
 'Nellore',
 'NTR',
 'Palnadu',
 'Parvathipuram Manyam',
 'Prakasam',
 'Srikakulam',
 'Sri Sathya Sai',
 'Tirupati',
 'Visakhapatnam',
 'Vizianagaram',
 'West Godavari',
 'YSR Kadapa',
 'Bishnupur',
 'Chandel',
 'Churachandpur',
 'Imphal East',
 'Imphal West',
 'Jiribam',
 'Kakching',
 'Kamjong',
 'Kangpokpi',
 'Noney',
 'Pherzawl',
 'Senapati',
 'Tamenglong',
 'Tengnoupal',
 'Thoubal',
 'Ukhrul',
 'Bokaro',
 'Chatra',
 'Deoghar',
 'Dhanbad',
 'Dumka',
 'East Singhbhum',
 'Garhwa',
 'Giridih',
 'Godda',
 'Gumla',
 'Hazaribag',
 'Jamtara',
 'Khunti',
 'Koderma',
 'Latehar',
 'Lohardaga',
 'Pakur',
 'Palamu',
 'Ramgarh',
 'Ranchi',
 'Sahibganj',
 'Seraikela-Kharsawan',
 'Simdega',
 'West Singhbhum',
 'Ariyalur',
 'Chengalpattu',
 'Chennai',
 'Coimbatore',
 'Cuddalore',
 'Dharmapuri',
 'Dindigul',
 'Erode',
 'Kallakurichi',
 'Kanchipuram',
 'Kanyakumari',
 'Karur',
 'Krishnagiri',
 'Madurai',
 'Mayiladuthurai',
 'Nagapattinam',
 'Nilgiris',
 'Namakkal',
 'Perambalur',
 'Pudukkottai',
 'Ramanathapuram',
 'Ranipet',
 'Salem',
 'Sivaganga',
 'Tenkasi',
 'Tiruppur',
 'Tiruchirappalli',
 'Theni',
 'Tirunelveli',
 'Thanjavur',
 'Thoothukudi',
 'Tirupattur',
 'Tiruvallur',
 'Tiruvarur',
 'Tiruvannamalai',
 'Vellore',
 'Viluppuram',
 'Virudhunagar',
 'Anantnag',
 'Budgam',
 'Bandipore',
 'Baramulla',
 'Doda',
 'Ganderbal',
 'Jammu',
 'Kathua',
 'Kishtwar',
 'Kulgam',
 'Kupwara',
 'Poonch',
 'Pulwama',
 'Rajouri',
 'Ramban',
 'Reasi',
 'Samba',
 'Shopian',
 'Srinagar',
 'Udhampur',
 'Baksa',
 'Bajali',
 'Barpeta',
 'Biswanath',
 'Bongaigaon',
 'Cachar',
 'Charaideo',
 'Chirang',
 'Darrang',
 'Dhemaji',
 'Dhubri',
 'Dibrugarh',
 'Dima Hasao',
 'Goalpara',
 'Golaghat',
 'Hailakandi',
 'Hojai',
 'Jorhat',
 'Kamrup',
 'Kamrup Metropolitan',
 'Karbi Anglong',
 'Karimganj',
 'Kokrajhar',
 'Lakhimpur',
 'Majuli',
 'Morigaon',
 'Nagaon',
 'Nalbari',
 'Sivasagar',
 'Sonitpur',
 'South Salmara-Mankachar',
 'Tamulpur',
 'Tinsukia',
 'Udalguri',
 'West Karbi Anglong',
 'Anupgarh',
 'Ajmer',
 'Alwar',
 'Balotra',
 'Beawar',
 'Bikaner',
 'Barmer',
 'Banswara',
 'Bharatpur',
 'Baran',
 'Bundi',
 'Bhilwara',
 'Churu',
 'Chittorgarh',
 'Dausa',
 'Deeg',
 'Didwana Kuchaman',
 'Dholpur',
 'Dudu',
 'Dungarpur',
 'Gangapur city',
 'Sri Ganganagar',
 'Hanumangarh',
 'Jaipur Gramin',
 'Jhunjhunu',
 'Jalore',
 'Jodhpur',
 'Jodhpur Gramin',
 'Jaipur',
 'Jaisalmer',
 'Jhalawar',
 'Karauli',
 'Kekri',
 'Khairthal-Tijara',
 'Kotputli-Behror',
 'Kota',
 'Tonk',
 'Udaipur',
 'Nagaur',
 'Neem Ka Thana',
 'Pali',
 'Phalodi',
 'Pratapgarh',
 'Rajsamand',
 'Sanchore',
 'Salumbar',
 'Sikar',
 'Shahpura',
 'Sawai Madhopur',
 'Sirohi',
 'Dhalai',
 'Gomati',
 'Khowai',
 'North Tripura',
 'Sepahijala',
 'South Tripura',
 'Unakoti',
 'West Tripura',
 'Bagalkot',
 'Ballari',
 'Belagavi',
 'Bangalore Rural',
 'Bangalore Urban',
 'Bidar',
 'Chamarajanagar',
 'Chikkaballapur',
 'Chikmagalur',
 'Chitradurga',
 'Dakshina Kannada',
 'Davanagere',
 'Dharwad',
 'Gadaga',
 'Kalaburagi',
 'Hassan',
 'Haveri',
 'Kodagu',
 'Kolar',
 'Koppal',
 'Mandya',
 'Mysore',
 'Raichur',
 'Ramanagara',
 'Shimoga',
 'Tumakuru',
 'Udupi',
 'Uttara Kannada',
 'Vijayanagara',
 'Bijapur',
 'Yadgir',
 'Aizawl',
 'Champhai',
 'Hnahthial',
 'Khawzawl',
 'Kolasib',
 'Lawngtlai',
 'Lunglei',
 'Mamit',
 'Saiha',
 'Saitual',
 'Serchhip',
 'Karaikal',
 'Mahé',
 'Puducherry',
 'Yanam',
 'Agra',
 'Aligarh',
 'Ambedkar Nagar',
 'Amethi',
 'Amroha',
 'Auraiya',
 'Ayodhya',
 'Azamgarh',
 'Bagpat',
 'Bahraich',
 'Ballia',
 'Balrampur',
 'Banda',
 'Barabanki',
 'Bareilly',
 'Basti',
 'Bhadohi',
 'Bijnor',
 'Budaun',
 'Bulandshahr',
 'Chandauli',
 'Chitrakoot',
 'Deoria',
 'Etah',
 'Etawah',
 'Farrukhabad',
 'Fatehpur',
 'Firozabad',
 'Gautam Buddha Nagar',
 'Ghaziabad',
 'Ghazipur',
 'Gonda',
 'Gorakhpur',
 'Hamirpur',
 'Hapur',
 'Hardoi',
 'Hathras',
 'Jalaun',
 'Jaunpur',
 'Jhansi',
 'Kannauj',
 'Kanpur Dehat',
 'Kanpur Nagar',
 'Kasganj',
 'Kaushambi',
 'Kushinagar',
 'Lakhimpur Kheri',
 'Lalitpur',
 'Lucknow',
 'Maharajganj',
 'Mahoba',
 'Mainpuri',
 'Mathura',
 'Mau',
 'Meerut',
 'Mirzapur',
 'Moradabad',
 'Muzaffarnagar',
 'Pilibhit',
 'Pratapgarh',
 'Prayagraj',
 'Raebareli',
 'Rampur',
 'Saharanpur',
 'Sambhal',
 'Sant Kabir Nagar',
 'Shahjahanpur',
 'Shamli',
 'Shravasti',
 'Siddharthnagar',
 'Sitapur',
 'Sonbhadra',
 'Sultanpur',
 'Unnao',
 'Varanasi',
 'Gangtok',
 'Mangan',
 'Pakyong',
 'Soreng',
 'Namchi',
 'Gyalshing',
 'Balod',
 'Baloda Bazar',
 'Balrampur-Ramanujganj',
 'Bastar',
 'Bemetara',
 'Bijapur',
 'Bilaspur',
 'Dantewada',
 'Dhamtari',
 'Durg',
 'Gariaband',
 'Gaurela-Pendra-Marwahi',
 'Janjgir-Champa',
 'Jashpur',
 'Kabirdham',
 'Kanker',
 'Khairagarh-Chhuikhadan-Gandai',
 'Kondagaon',
 'Korba',
 'Korea',
 'Mahasamund',
 'Manendragarh-Chirmiri-Bharatpur',
 'Mohla-Manpur-Ambagarh Chowki',
 'Mungeli',
 'Narayanpur',
 'Raigarh',
 'Raipur',
 'Rajnandgaon',
 'Sarangarh-Bilaigarh',
 'Sakti',
 'Sukma',
 'Surajpur',
 'Surguja',
 'Agar Malwa',
 'Alirajpur',
 'Anuppur',
 'Ashoknagar',
 'Balaghat',
 'Barwani',
 'Betul',
 'Bhind',
 'Bhopal',
 'Burhanpur',
 'Chhatarpur',
 'Chhindwara',
 'Damoh',
 'Datia',
 'Dewas',
 'Dhar',
 'Dindori',
 'Guna',
 'Gwalior',
 'Harda',
 'Hoshangabad',
 'Indore',
 'Jabalpur',
 'Jhabua',
 'Katni',
 'Khandwa',
 'Khargone',
 'Maihar',
 'Mandla',
 'Mandsaur',
 'Mauganj',
 'Morena',
 'Narsinghpur',
 'Neemuch',
 'Niwari',
 'Panna',
 'Pandhurna',
 'Raisen',
 'Rajgarh',
 'Ratlam',
 'Rewa',
 'Sagar',
 'Satna',
 'Sehore',
 'Seoni',
 'Shahdol',
 'Shajapur',
 'Sheopur',
 'Shivpuri',
 'Sidhi',
 'Singrauli',
 'Tikamgarh',
 'Ujjain',
 'Umaria',
 'Vidisha',
 'Anjaw',
 'Changlang',
 'East Kameng',
 'East Siang',
 'Itanagar Capital Complex',
 'Kamle',
 'Kra Daadi',
 'Kurung Kumey',
 'Lepa Rada',
 'Lohit',
 'Longding',
 'Lower Dibang Valley',
 'Lower Siang',
 'Lower Subansiri',
 'Namsai',
 'Pakke-Kessang',
 'Papum Pare',
 'Shi Yomi',
 'Siang',
 'Tawang',
 'Tirap',
 'Upper Dibang Valley',
 'Upper Siang',
 'Upper Subansiri',
 'West Kameng',
 'West Siang',
 'Keyi Panyor',
 'Bichom',
 'Angul',
 'Boudh',
 'Bhadrak',
 'Balangir',
 'Bargarh',
 'Balasore',
 'Cuttack',
 'Debagarh',
 'Dhenkanal',
 'Ganjam',
 'Gajapati',
 'Jharsuguda',
 'Jajpur',
 'Jagatsinghpur',
 'Khordha',
 'Kendujhar',
 'Kalahandi',
 'Kandhamal',
 'Koraput',
 'Kendrapara',
 'Malkangiri',
 'Mayurbhanj',
 'Nabarangpur',
 'Nuapada',
 'Nayagarh',
 'Puri',
 'Rayagada',
 'Sambalpur',
 'Subarnapur',
 'Sundargarh',
 'Chandigarh',
 'North Goa',
 'South Goa',
 'East Garo Hills',
 'East Khasi Hills',
 'East Jaintia Hills',
 'Eastern West Khasi Hills',
 'North Garo Hills',
 'Ri Bhoi',
 'South Garo Hills',
 'South West Garo Hills',
 'South West Khasi Hills',
 'West Garo Hills',
 'West Jaintia Hills',
 'West Khasi Hills',
 'Ahmedabad',
 'Amreli',
 'Anand',
 'Aravalli',
 'Banaskantha',
 'Bharuch',
 'Bhavnagar',
 'Botad',
 'Chhota Udaipur',
 'Dahod',
 'Dang',
 'Devbhumi Dwarka',
 'Gandhinagar',
 'Gir Somnath',
 'Jamnagar',
 'Junagadh',
 'Kheda',
 'Kutch',
 'Mahisagar',
 'Mehsana',
 'Morbi',
 'Narmada',
 'Navsari',
 'Panchmahal',
 'Patan',
 'Porbandar',
 'Rajkot',
 'Sabarkantha',
 'Surat',
 'Surendranagar',
 'Tapi',
 'Vadodara',
 'Valsad',
 'Lakshadweep',
 'Alappuzha',
 'Ernakulam',
 'Idukki',
 'Kannur',
 'Kasaragod',
 'Kollam',
 'Kottayam',
 'Kozhikode',
 'Malappuram',
 'Palakkad',
 'Pathanamthitta',
 'Thiruvananthapuram',
 'Thrissur',
 'Wayanad',
 'Adilabad',
 'Bhadradri Kothagudem',
 'Hanamkonda',
 'Hyderabad',
 'Jagtial',
 'Jangaon',
 'Jayashankar Bhupalpally',
 'Jogulamba Gadwal',
 'Kamareddy',
 'Karimnagar',
 'Khammam',
 'Kumuram Bheem Asifabad',
 'Mahabubabad',
 'Mahbubnagar',
 'Mancherial',
 'Medak',
 'Medchal–Malkajgiri',
 'Mulugu',
 'Nalgonda',
 'Narayanpet',
 'Nagarkurnool',
 'Nirmal',
 'Nizamabad',
 'Peddapalli',
 'Rajanna Sircilla',
 'Ranga Reddy',
 'Sangareddy',
 'Siddipet',
 'Suryapet',
 'Vikarabad',
 'Wanaparthy',
 'Warangal',
 'Yadadri Bhuvanagiri',
 'Nicobar',
 'North and Middle Andaman',
 'South Andaman',
 'Ambala',
 'Bhiwani',
 'Charkhi Dadri',
 'Faridabad',
 'Fatehabad',
 'Gurugram',
 'Hisar',
 'Jhajjar',
 'Jind',
 'Kaithal',
 'Karnal',
 'Kurukshetra',
 'Mahendragarh',
 'Nuh',
 'Palwal',
 'Panchkula',
 'Panipat',
 'Rewari',
 'Rohtak',
 'Sirsa',
 'Sonipat',
 'Yamunanagar',
 'Kargil',
 'Leh',
 'Ahmednagar',
 'Akola',
 'Amravati',
 'Aurangabad',
 'Beed',
 'Bhandara',
 'Buldhana',
 'Chandrapur',
 'Osmanabad',
 'Dhule',
 'Gadchiroli',
 'Gondia',
 'Hingoli',
 'Jalgaon',
 'Jalna',
 'Kolhapur',
 'Latur',
 'Mumbai City',
 'Mumbai Suburban',
 'Nanded',
 'Nandurbar',
 'Nagpur',
 'Nashik',
 'Palghar',
 'Parbhani',
 'Pune',
 'Raigad',
 'Ratnagiri',
 'Sangli',
 'Satara',
 'Sindhudurg',
 'Solapur',
 'Thane',
 'Wardha',
 'Washim',
 'Yavatmal',
 'Bilaspur',
 'Chamba',
 'Hamirpur',
 'Kangra',
 'Kinnaur',
 'Kullu',
 'Lahaul and Spiti',
 'Mandi',
 'Shimla',
 'Sirmaur',
 'Solan',
 'Una',
 'Alipurduar',
 'Bankura',
 'Birbhum',
 'Cooch Behar',
 'Dakshin Dinajpur',
 'Darjeeling',
 'Hooghly',
 'Howrah',
 'Jalpaiguri',
 'Jhargram',
 'Kalimpong',
 'Kolkata',
 'Maldah',
 'Murshidabad',
 'Nadia',
 'North 24 Parganas',
 'Paschim Bardhaman',
 'Paschim Medinipur',
 'Purba Bardhaman',
 'Purba Medinipur',
 'Purulia',
 'South 24 Parganas',
 'Uttar Dinajpur',
 'Araria',
 'Arwal',
 'Aurangabad',
 'Banka',
 'Begusarai',
 'Bhagalpur',
 'Bhojpur',
 'Buxar',
 'Darbhanga',
 'East Champaran',
 'Gaya',
 'Gopalganj',
 'Jamui',
 'Jehanabad',
 'Kaimur',
 'Katihar',
 'Khagaria',
 'Kishanganj',
 'Lakhisarai',
 'Madhepura',
 'Madhubani',
 'Munger',
 'Muzaffarpur',
 'Nalanda',
 'Nawada',
 'Patna',
 'Purnia',
 'Rohtas',
 'Saharsa',
 'Samastipur',
 'Saran',
 'Sheikhpura',
 'Sheohar',
 'Sitamarhi',
 'Siwan',
 'Supaul',
 'Vaishali',
 'West Champaran']

2014 HRA Classification

In [85]:
tier1Cities = ['Ahmedabad', 'Bengaluru', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai', 'Pune']
len(tier1Cities)

8

In [86]:
tier2Cities = ['Agra', 'Ajmer', 'Aligarh', 'Amravati', 'Amritsar', 'Anand', 'Asansol', 'Aurangabad', 'Bareilly', 'Belagavi', 'Brahmapur', 'Bhavnagar', 'Bhiwandi', 'Bhopal', 'Bhubaneswar', 'Bikaner', 'Bilaspur', 'Bokaro Steel City', 'Burdwan ', 'Bellary', 'Chandigarh', 'Coimbatore', 'Cuttack', 'Dahod', 'Dehradun', 'Dombivli', 'Dhanbad', 'Bhilai', 'Durgapur', 'Erode', 'Faridabad', 'Ghaziabad', 'Gorakhpur', 'Guntur', 'Gurgaon', 'Guwahati', 'Gwalior', 'Hamirpur', 'Hubballi–Dharwad', 'Indore', 'Jabalpur', 'Jaipur', 'Jalandhar', 'Jalgaon', 'Jammu', 'Jamshedpur', 'Jhansi', 'Jodhpur', 'Kalaburagi', 'Kakinada', 'Kannur', 'Kanpur', 'Karnal', 'Kochi', 'Kolhapur', 'Kollam', 'Kota', 'Kozhikode', 'Kumbakonam,Kurnool', 'Ludhiana', 'Lucknow', 'Madurai', 'Malappuram', 'Mathura', 'Mangaluru', 'Meerut', 'Mohali', 'Moradabad', 'Mysuru', 'Nagpur', 'Nanded', 'Nadiad', 'Nashik', 'Nellore', 'Noida', 'Patna', 'Puducherry', 'Purulia', 'Prayagraj', 'Raipur', 'Rajkot', 'Ranchi', 'Rourkela', 'Ratlam', 'Saharanpur', 'Salem', 'Sangli', 'Shimla', 'Siliguri', 'Solapur', 'Srinagar', 'Surat', 'Thanjavur', 'Thiruvananthapuram', 'Thrissur', 'Tiruchirappalli', 'Tirunelveli', 'Tiruvannamalai', 'Ujjain', 'Vijayapura', 'Vadodara', 'Varanasi', 'Vasai-Virar', 'Vijayawada', 'Visakhapatnam', 'Vellore', 'Warangal']
len(tier2Cities)

107

In [87]:
tier3Cities = list(set(cities) - set(tier1Cities + tier2Cities))
len(tier3Cities)

698

In [88]:
completeDf = completeDf.drop(columns = 'City Tier')
completeDf['City Tier'] = 'Tier III'
completeDf

,Code,District,Headquarters,Population,Area (km2),Density (/km2),State/UnionTerritory,City Tier
0,–,Chümoukedima,Chümoukedima,125400,570.0,220,Nagaland,Tier III
1,DI,Dimapur,Dimapur,379769,926.0,410,Nagaland,Tier III
2,KI,Kiphire,Kiphire,74033,1255.0,66,Nagaland,Tier III
3,KO,Kohima,Kohima,270063,1041.0,213,Nagaland,Tier III
4,LO,Longleng,Longleng,50593,885.0,89,Nagaland,Tier III
...,...,...,...,...,...,...,...,...
783,ST,Sitamarhi,Sitamarhi,3419622,2199,1491,Bihar,Tier III
784,SW,Siwan,Siwan,3318176,2219,1495,Bihar,Tier III
785,SU,Supaul,Supaul,2228397,2410,919,Bihar,Tier III
786,VA,Vaishali,Hajipur,3495021,2036,1717,Bihar,Tier III
787,WC,West Champaran,Bettiah,3935042,5229,753,Bihar,Tier III

In [95]:
completeDf['City Tier'] = completeDf['District'].apply(lambda x: 'Tier I' if x in tier1Cities else ('Tier II' if x in tier2Cities else 'Tier III'))

In [96]:
completeDf[completeDf['State/UnionTerritory'] == 'Tamil Nadu']

,Code,District,Headquarters,Population,Area (km2),Density (/km2),State/UnionTerritory,City Tier
132,AY,Ariyalur,Ariyalur,752481,3208,387,Tamil Nadu,Tier III
133,CGL,Chengalpattu,Chengalpattu,2556244,2945,868,Tamil Nadu,Tier III
134,CH,Chennai,Chennai,7139882,426,17000,Tamil Nadu,Tier I
135,CO,Coimbatore,Coimbatore,3472578,4723,748,Tamil Nadu,Tier II
136,CU,Cuddalore,Cuddalore,2600880,3999,702,Tamil Nadu,Tier III
137,DH,Dharmapuri,Dharmapuri,1502900,4532,332,Tamil Nadu,Tier III
138,DGL,Dindigul,Dindigul,2161367,6058,357,Tamil Nadu,Tier III
139,ER,Erode,Erode,2259608,5714,397,Tamil Nadu,Tier II
140,KL,Kallakurichi,Kallakurichi,1682687,3520,478,Tamil Nadu,Tier III
141,KC,Kanchipuram,Kanchipuram,1166401,1656,704,Tamil Nadu,Tier III
142,KK,Kanyakumari,Nagercoil,1863178,1685,1106,Tamil Nadu,Tier III
143,KA,Karur,Karur,1076588,2901,371,Tamil Nadu,Tier III
144,KR,Krishnagiri,Krishnagiri,1883731,5086,370,Tamil Nadu,Tier III
145,MDU,Madurai,Madurai,3191038,3676,823,Tamil Nadu,Tier II
146,MLD,Mayiladuthurai,Mayiladuthurai,918356,1172,784,Tamil Nadu,Tier III
147,NG,Nagapattinam,Nagapattinam,1614069,2716,668,Tamil Nadu,Tier III
148,NI,Nilgiris,Ooty,735071,2549,288,Tamil Nadu,Tier III
149,NM,Namakkal,Namakkal,1721179,3429,506,Tamil Nadu,Tier III
150,PE,Perambalur,Perambalur,564511,1752,323,Tamil Nadu,Tier III
151,PU,Pudukkottai,Pudukkottai,1918725,4651,348,Tamil Nadu,Tier III
152,RA,Ramanathapuram,Ramanathapuram,1337560,4123,320,Tamil Nadu,Tier III
153,RN,Ranipet,Ranipettai,1210277,2234,524,Tamil Nadu,Tier III
154,SA,Salem,Salem,3480008,5245,663,Tamil Nadu,Tier II
155,SVG,Sivaganga,Sivagangai,1341250,4086,324,Tamil Nadu,Tier III
156,TS,Tenkasi,Tenkasi,1407627,2916,483,Tamil Nadu,Tier III
157,TP,Tiruppur,Tiruppur,2471222,5106,476,Tamil Nadu,Tier III
158,TC,Tiruchirappalli,Tiruchirappalli,2713858,4407,602,Tamil Nadu,Tier II
159,TH,Theni,Theni,1243684,3066,433,Tamil Nadu,Tier III
160,TI,Tirunelveli,Tirunelveli,1665253,3842,433,Tamil Nadu,Tier II
161,TJ,Thanjavur,Thanjavur,2402781,3397,691,Tamil Nadu,Tier II
162,TK,Thoothukudi,Thoothukudi,1738376,4594,378,Tamil Nadu,Tier III
163,TP,Tirupattur,Tirupattur,1111812,1798,618,Tamil Nadu,Tier III
164,TL,Tiruvallur,Tiruvallur,3725697,3424,1049,Tamil Nadu,Tier III
165,TR,Tiruvarur,Thiruvarur,1268094,2377,533,Tamil Nadu,Tier III
166,TV,Tiruvannamalai,Tiruvannaamalai,2468965,6191,399,Tamil Nadu,Tier II
167,VE,Vellore,Vellore,1614242,2080,776,Tamil Nadu,Tier II
168,VL,Viluppuram,Viluppuram,2093003,3725,562,Tamil Nadu,Tier III
169,VNR,Virudhunagar,Virudhunagar,1943309,3446,454,Tamil Nadu,Tier III

In [97]:
completeDf

,Code,District,Headquarters,Population,Area (km2),Density (/km2),State/UnionTerritory,City Tier
0,–,Chümoukedima,Chümoukedima,125400,570.0,220,Nagaland,Tier III
1,DI,Dimapur,Dimapur,379769,926.0,410,Nagaland,Tier III
2,KI,Kiphire,Kiphire,74033,1255.0,66,Nagaland,Tier III
3,KO,Kohima,Kohima,270063,1041.0,213,Nagaland,Tier III
4,LO,Longleng,Longleng,50593,885.0,89,Nagaland,Tier III
...,...,...,...,...,...,...,...,...
783,ST,Sitamarhi,Sitamarhi,3419622,2199,1491,Bihar,Tier III
784,SW,Siwan,Siwan,3318176,2219,1495,Bihar,Tier III
785,SU,Supaul,Supaul,2228397,2410,919,Bihar,Tier III
786,VA,Vaishali,Hajipur,3495021,2036,1717,Bihar,Tier III
787,WC,West Champaran,Bettiah,3935042,5229,753,Bihar,Tier III

In [98]:
completeDf.to_csv('cityDataStuff.csv', index = False)